html,
body {
  font-family: 'Amatic SC',
    cursive;
  font-size: 1.25rem;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

.overflow {
  overflow: auto;
  height: 6rem;
}

.btn-width {
  max-width: 75%;
}

.pos-stk {
  position: fixed;
  max-width: 400px;
  max-height: 75vh;
  margin-right: calc(-50vw + (-200px));
  right: 100vw;
  top: 75px;
  z-index: 999;
}